global
    maxconn 4096
defaults
    mode tcp
    timeout connect 10s
    timeout client 10m
    timeout server 10m
    option clitcpka
listen psql
    bind :26257
    mode tcp
    balance roundrobin
    option httpchk GET /health?ready=1
    server crdb1 crdb1:26257 check port 8080
    server crdb2 crdb2:26257 check port 8080
    server crdb3 crdb3:26257 check port 8080
