[primary]
type=server
address=primary
port=3306

[replica]
type=server
address=replica
port=3306

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=primary,replica
user=maxscale
password=maxscalepass
monitor_interval=1000ms
failcount=3
auto_failover=true
auto_rejoin=true
replication_user=repl
replication_password=replpass
enforce_read_only_slaves=true

[RW-Split-Router]
type=service
router=readwritesplit
servers=primary,replica
user=maxscale
password=maxscalepass
master_reconnection=true
transaction_replay=true
delayed_retry=true

[RW-Split-Listener]
type=listener
service=RW-Split-Router
port=4006
