global
    maxconn 8000
defaults
    mode tcp
    timeout connect 5s
    timeout client 600s
    timeout server 600s
listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s
# application entry point: round-robin over three PgBouncer instances that all pool into the coordinator
listen pgbouncers
    bind *:5432
    balance roundrobin
    option pgsql-check user lab
    server pgbouncer1 pgbouncer1:5432 check
    server pgbouncer2 pgbouncer2:5432 check
    server pgbouncer3 pgbouncer3:5432 check
