global
    maxconn 4096
defaults
    mode tcp
    timeout connect 10s
    timeout client 10m
    timeout server 10m
listen galera
    bind :3306
    mode tcp
    balance roundrobin
    option tcp-check
    server pxc1 pxc1:3306 check
    server pxc2 pxc2:3306 check
    server pxc3 pxc3:3306 check
